<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span class="branco">Light steel frame</span>
</div>

<div class="content" role="main">
  <div class="card highlight-card card-small click branco" (click)="criarEditar(null)">
    + Adcionar etapa
  </div>

  <div class="modal-overlay" id="modal-overlay"></div>

  <div class="modal" id="modal">
    <button class="close-button" id="close-button" (click)="toggleModal(false)">X</button>
    <div class="modal-guts">
      <h1 *ngIf="!etapaSelected">Criar etapa</h1>
      <h1 *ngIf="etapaSelected">Editar etapa</h1>

      <div class="row" style="display: block;">
        <form [formGroup]="formEtapa" (ngSubmit)="salvar()">
          <div class="col-md-12 cadetapa">
          <label>Nome da etapa</label>
          <br/>
          <input formControlName="nome" type="text" placeholder="Nome da etapa" />
        </div>

        <div class="row">
        <div class="col-md-12 cadetapa">
          <label>Duracao</label>
          <br/>
          <input formControlName="duracao" type="text" placeholder="Duração da etapa" />
        </div>

          <div class="col-md-12 cadetapa">
          <label>Tempo de espera</label>
          <br/>
          <input formControlName="espera" type="text" placeholder="Tempo de espera da etapa" />
        </div>

          <div class="col-md-12 cadetapa">
          <label>Quantidade de pessoas</label>
          <br/>
          <input formControlName="qtdpessoas" type="text" placeholder="Envolvidos na etapa" />
          </div>
        </div>

        <div style="text-align: right; margin-top: 20px">
          <button type="submit">Salvar</button>
        </div>
        </form>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row justify">
      <!-- <img src="../assets/img/img2.jpg" /> -->
      <div class="col-md-12 cnt" *ngIf="listEtapa.length > 0">
        <div class="etapa">
          <h3>FORNECEDOR</h3>
        </div>
        <i class="icono-arrow1-down"></i>
      </div>
      <div class="col-md-12 cnt" *ngFor="let et of listEtapa" (click)="criarEditar(et)">
        <div class="etapa">
          <p> Nome: {{et.nome}}</p>
          <p> Espara: {{et.espera}}</p>
          <p> Pessoas: {{et.qtdpessoas}}</p>
          <p> Duracao: {{et.duracao}}</p>
          <br />
        </div>
        <i class="icono-arrow1-down"></i>
      </div>
      <div class="col-md-12 cnt" *ngIf="listEtapa.length > 0">
        <!-- <i class="icono-arrow1-down"></i> -->
        <div class="etapa">
          <h3>CLIENTE</h3>
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <footer>


  </footer>

</div>


<router-outlet></router-outlet>
